In [1]:
import pandas as pd
import numpy as np

In [5]:
shape = (4,4,2,2)
x= np.zeros(shape)
type(x)

numpy.ndarray

In [15]:
pd.read_csv("/drive/My Drive/Coordinated_intersections/Offsets_noon.csv")

     time  reward  offset1  offset2  offset3  offset4  offset5
0    1800  -58.33       70       86       82       59      107
1    2700  -27.18       70       86       82       59      107
2    3600  -30.57       70       86       82       59      107
3    4500  -20.25       70       86       82       59      107
4    5400  -19.61       70       86       82       59      107
5    6300  -30.07       37       72       60       43      107
6    7200  -33.33       31       55       60       43        6
7    8100  -50.84       31       55       60       43        6
8    9000  -37.77       31       55       60       43        6
9    9900  -38.35       31       55       60       71        6
10  10800  -39.52       31       72       60       43       48
11  11700  -76.88       71       72       60       97       48
12  12600  -46.89       71       72       88       97       48
13  13500  -53.70       31       72       60       43        6
14  14400  -51.31       31       55       60       43        6

In [14]:
!ls /drive/My\ Drive/Coordinated_intersections

Offsets_noon.csv